/* ROOT VARIABLES */
:root {
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-dark: #525252;
    --color-black:#141415;
    --color-primary:#ff3300;
    --color-primary-light:hsl(14, 89%, 53%, 12%);
    --color-secondary: #000066;
    --color-success:#29f5a6;
    --color-warning:#ffce31;

    --transition: all 300ms ease;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box; /*para que los elementos no se salgan del contenedor*/
    /* list-style: none; para que no aparezcan los puntitos en las listas  */
    text-decoration: none;
}

#encabeza {
    background-color: var(--color-primary);
}

section.administra {
    margin-top: 5rem;
    background-color: var(--color-light);
}

section.landing {
    display: grid;
    place-items: center;
    position: relative;
    top: 5rem;
    padding-bottom: 14rem;
    
}

section.landing .container {
    background: #29f5a6;
    display: grid;
    grid-template-columns: 5rem auto 26rem;
    gap: 2rem;
}

section.landing .socials {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
}

section.landing .socials a{
    font-size: 1.1rem;
    background: var(--color-light);
    color: var(--color-dark);
    padding: 0.3rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

section.landing .socials a:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

section.landing .info h1 {
    text-align: left;
    margin: 0;
}

section.landing h3 {
    margin: 2.4rem 0 1rem;
}

section.landing .info p {
    width: 35rem;
}


/* ================ MINE SECTION ================ */

.sociales a{
    font-size: 1.1rem;
    background: var(--color-light);
    color: var(--color-dark);
    padding: 0.3rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.sociales a:hover {
    background: var(--color-primary);
    color: var(--color-white);
}